body {
	min-width: 992px;
}
nav {
	min-width: 992px;
}
#menu li a.selected,
#menu li a.selected span span {
    color: #0174b3 !important;
}
#main-contents {
	max-width: 1300px;
	min-width: 992px;
	margin: 30px auto 0 auto;
}
#contents-title {
	background-color: #0174b3;
}
#contents-title h2 i {
  top: 7px;
  right: 8px;
	margin-right: -11px;
}
#contents-title h2:after {
	width: 153px;
}
.controls{
	background: #fff;
	width: 90%;
	padding: 20px;
	margin: 0 auto 0 auto;
	border: solid 3px #bbb;
}
.controls h3 {
	display: inline-block;
	font-size: 23px;
	width: 138px;
	border-left: 4px solid #0174b3;
	border-right: 4px solid #0174b3;
}
.controls h3 i {
	font-size: 27px;
	position: relative;
	top: 5px;
	padding: 0px 2px 0px 6px;
}
.controls button{
  display: inline-block;
  vertical-align: top;
	padding: 5px 15px 5px 15px;
	margin: 0 0 0 20px;
  background: #0174b3;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}
fieldset{
	display: block;
	vertical-align: top;
	width: 90%;
	padding: 20px 0px 0px 0px;
	margin: 0 auto;
	border: none;
}
fieldset h4 {
	padding: 0 0 14px 0;
}
.checkbox{
  display: block;
  position: relative;
  cursor: pointer;
	float: left;
	width: 20%;
  margin-bottom: 8px;
}
.checkbox input[type="checkbox"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox i {
	font-size: 23px;
}
.checkbox i:before {
	content: "check_box_outline_blank";
	color: #bbb;
  transition: all 0.25s;
}
#checkbox-grade-3 i:before {
	color: #ea4335;
}
#checkbox-grade-2 i:before {
	color: #4285f4;
}
#checkbox-grade-1 i:before {
	color: #34a853;
}
#checkbox-club i:before {
	color: #9a4bcc;
}
#checkbox-sponsor i:before {
	color: #ffdc00;
}
.checkbox input:checked + i:before {
	content: "check_box";
	color: #bbb;
  transition: all 0.25s;
}
#checkbox-grade-3 input:checked + i:before {
	color: #ea4335;
}
#checkbox-grade-2 input:checked + i:before {
	color: #4285f4;
}
#checkbox-grade-1 input:checked + i:before {
	color: #34a853;
}
#checkbox-club input:checked + i:before {
	color: #9a4bcc;
}
#checkbox-sponsor input:checked + i:before {
	color: #ffdc00;
}
.checkbox label{
  display: inline-block;
  vertical-align: top;
  text-align: left;
	font-size: 15px;
}
#checkbox-grade-3 label {
	color: #ea4335;
}
#checkbox-grade-2 label {
	color: #4285f4;
}
#checkbox-grade-1 label {
	color: #34a853;
}
#checkbox-club label {
	color: #9a4bcc;
}
#checkbox-sponsor label {
	color: #ffdc00;
}
/**
 * Container/Target Styles
 */

.container {
	position: relative;
	top: 65px;
	width: 95%;
	padding-top: 65px;
	margin: 0px auto 158px auto;
	border-top: 1px solid #bbb;
}
.container > div {
  display: inline-block;
 	width:24%;
	margin: 0.5%;
 	float: left;
}
.container .mix,
.container .gap{
  display: inline-block;
}
.container .mix{
	display: none;
}
/**
 * Fail message styles
 */
.container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
	width: 100%;
	height: 80px;
  opacity: 0;
  pointer-events: none;
}

.container .fail-message:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.container .fail-message span{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.container.fail .fail-message{
  opacity: 1;
  pointer-events: auto;
}
.exhibitionListBox {
	height: 560px;
	border: 1px solid #ffdc00;
	border-radius: 20px;
}
.grade-3 .exhibitionListBox {
	border: 1px solid #ea4335;
}
.grade-2 .exhibitionListBox {
	border: 1px solid #4285f4;
}
.grade-1 .exhibitionListBox {
	border: 1px solid #34a853;
}
.club .exhibitionListBox {
	border: 1px solid #9a4bcc;
}
.place {
	display: inline-block;
	position: relative;
	left: 15px;
	font-size: 16px;
	color: #ffdc00;
	padding: 0px 10px 0 10px;
	border-top: 3px solid #ffdcdd;
}
.grade-3 .place {
	color: #ea4335;
	border-top: 3px solid #ea4335;
}
.grade-2 .place {
	color: #4285f4;
	border-top: 3px solid #4285f4;
}
.grade-1 .place {
	color: #34a853;
	border-top: 3px solid #34a853;
}
.club .place {
	color: #9a4bcc;
	border-top: 3px solid #9a4bcc;
}
.exhi-team {
	text-align: center;
	font-size: 18px;
	color: #ffdc00;
	font-weight: 500;
	border-top: 2px solid #ffdc00;
	border-bottom: 2px solid #ffdc00;
}
.grade-3 .exhi-team {
	border-top: 2px solid #ea4335;
	border-bottom: 2px solid #ea4335;
	color: #ea4335;
}
.grade-2 .exhi-team {
	border-top: 2px solid #4285f4;
	border-bottom: 2px solid #4285f4;
	color: #4285f4;
}
.grade-1 .exhi-team {
	border-top: 2px solid #34a853;
	border-bottom: 2px solid #34a853;
	color: #34a853;
}
.club .exhi-team {
	border-top: 2px solid #9a4bcc;
	border-bottom: 2px solid #9a4bcc;
	color: #9a4bcc;
}
.exhi-genre {
	text-align: center;
	font-size: 18px;
	color: #ffdc00;
	font-weight: 500;
	border-bottom: 2px solid #ffdc00;
}
.grade-3 .exhi-genre {
	color: #ea4335;
	border-bottom: 2px solid #ea4335;
}
.grade-2 .exhi-genre {
	color: #4285f4;
	border-bottom: 2px solid #4285f4;
}
.grade-1 .exhi-genre {
	color: #34a853;
	border-bottom: 2px solid #34a853;
}
.club .exhi-genre {
	color: #9a4bcc;
	border-bottom: 2px solid #9a4bcc;
}
.exhi-img img {
	width: 100%;
	border-bottom: 2px solid #ffdc00;
}
.grade-3 .exhi-img img {
	border-bottom: 2px solid #ea4335;
}
.grade-2 .exhi-img img {
	border-bottom: 2px solid #4285f4;
}
.grade-1 .exhi-img img {
	border-bottom: 2px solid #34a853;
}
.club .exhi-img img {
	border-bottom: 2px solid #9a4bcc;
}
.exhibitionListTitle {
	display: table-cell;
	vertical-align: middle;
	height: 98px;
	padding: 0px 20px 0px 20px;
}
.exhibitionListTitle p {
	font-size: 18px;
	color: #ffdc00;
	font-weight: 600;
}
.grade-3 .exhibitionListTitle p {
	color: #ea4335;
}
.grade-2 .exhibitionListTitle p {
	color: #4285f4;
}
.grade-1 .exhibitionListTitle p {
	color: #34a853;
}
.club .exhibitionListTitle p {
	color: #9a4bcc;
}
.exhibitionListCompany {
	text-align: justify;
	padding: 15px 15px;
	border-top: 2px solid #ffdc00;
}
.grade-3 .exhibitionListCompany {
	border-top: 2px solid #ea4335;
}
.grade-2 .exhibitionListCompany {
	border-top: 2px solid #4285f4;
}
.grade-1 .exhibitionListCompany {
	border-top: 2px solid #34a853;
}
.club .exhibitionListCompany {
	border-top: 2px solid #9a4bcc;
}
.exhibitionListCompany p {
	font-size: 14px;
}
.header-back-to-top {
	color: #fff;
  background-color: rgba(1,116,179,0.9);
  opacity: 0.9;
  position: fixed;
  top: -65px;
  width: 100%;
	height: 60px;
	border-bottom: 1px solid #0174b3;
  /*z-index: 30;*/
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.9);
  transition: all 0.25s ease-out;
}
.header-back-to-top.visible {
  top: 0px;
}
.header-back-to-top:hover {
	color: #0174b3;
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid #fff;
	transition: all 0.25s ease-out;
}
footer {
	position: relative;
	bottom: -200px;
}
