#contents-title {
	background-color: #0174b3;
	margin-bottom: 30px;
}
#contents-title h2 i {
  top: 7px;
  right: 8px;
	margin-right: -11px;
}
#contents-title h2:after {
	width: 153px;
}
.controls{
	background: #fff;
	width: 75%;
	padding: 10px;
	margin: 0 auto;
	border: solid 3px #bbb;
}
.controls h3 {
	display: inline-block;
	font-size: 18px;
	width: 100px;
  margin: 4px 0 0 10px;
	border-left: 4px solid #0174b3;
	border-right: 4px solid #0174b3;
}
.controls h3 i {
	font-size: 21px;
  position: relative;
  top: 4px;
  padding: 0px 0px 0px 2px;
}
.controls button{
	display: inline-block;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
  vertical-align: top;
	padding: 5px 15px 5px 15px;
  margin: 3px 0 0 20px;
  background: #0174b3;
  border: 0;
  border-radius: 4px;
}
fieldset{
  vertical-align: top;
	width: 70%;
  padding: 20px 0px 0px 0px;
  margin:  0 auto;
	border-left: none;
	border: none;
  border-radius: 3px;
}
fieldset h4 {
    padding: 0 0 7px 0;
}
.checkbox{
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 8px;
}
.checkbox input[type="checkbox"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox i {
	font-size: 23px;
}
.checkbox i:before {
	content: "check_box_outline_blank";
	color: #bbb;
  transition: all 0.25s;
}
#checkbox-grade-3 i:before {
	color: #ea4335;
}
#checkbox-grade-2 i:before {
	color: #4285f4;
}
#checkbox-grade-1 i:before {
	color: #34a853;
}
#checkbox-club i:before {
	color: #9a4bcc;
}
#checkbox-sponsor i:before {
	color: #ffdc00;
}
.checkbox input:checked + i:before {
	content: "check_box";
	color: #bbb;
  transition: all 0.25s;
}
#checkbox-grade-3 input:checked + i:before {
	color: #ea4335;
}
#checkbox-grade-2 input:checked + i:before {
	color: #4285f4;
}
#checkbox-grade-1 input:checked + i:before {
	color: #34a853;
}
#checkbox-club input:checked + i:before {
	color: #9a4bcc;
}
#checkbox-sponsor input:checked + i:before {
	color: #ffdc00;
}
.checkbox label{
  display: inline-block;
  vertical-align: top;
  text-align: left;
	font-size: 15px;
}
#checkbox-grade-3 label {
	color: #ea4335;
}
#checkbox-grade-2 label {
	color: #4285f4;
}
#checkbox-grade-1 label {
	color: #34a853;
}
#checkbox-club label {
	color: #9a4bcc;
}
#checkbox-sponsor label {
	color: #ffdc00;
}
/**
 * Container/Target Styles
 */

.container {
	position: relative;
	top: 40px;
}
.container > .mix {
 	display:inline-block;
	width: 90%;
	padding: 30px 0 50px 0;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: solid 2px #aaa;
}
.container .mix,
.container .gap{
  display: inline-block;
}
.container .mix{
  display: none;
}
.container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
	width: 100%;
	height: 80px;
  opacity: 0;
  pointer-events: none;
}

.container .fail-message:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.container .fail-message span{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}
.container.fail .fail-message{
  opacity: 1;
  pointer-events: auto;
}
.info-tag {
	font-size: 13px;
	color: #ffdc00;
	text-align: center;
	font-weight: 600;
	display: inline-block;
	width: 137px;
	padding: 15px 0;
	border: solid 6px #ffdc00;
	border-radius: 68px;
	margin: 0 10px 0 0;
}
.grade-3 .info-tag {
	color: #ea4335;
	border: solid 6px #ea4335;
}
.grade-2 .info-tag {
	color: #4285f4;
	border: solid 6px #4285f4;
}
.grade-1 .info-tag {
	color: #34a853;
	border: solid 6px #34a853;
}
.club .info-tag {
	color: #9a4bcc;
	border: solid 6px #9a4bcc;
}
.place {
	display: inline-block;
  position: relative;
  color: #ffdc00;
  padding: 2px 5px;
  border: 4px solid #ffdc00;
}
.grade-3 .place {
	color: #ea4335;
	border: 4px solid #ea4335;
}
.grade-2 .place {
	color: #4285f4;
	border: 4px solid #4285f4;
}
.grade-1 .place {
	color: #34a853;
	border: 4px solid #34a853;
}
.club .place {
	color: #9a4bcc;
	border: 4px solid #9a4bcc;
}
.exhi-img img {
	width: 100%;
	margin: 10px 0 0 0;
}
.storeTitle {
	position: relative;
	color: #000;
}
.storeTitle h3 {
	font-size: 25px;
	color: #ffdc00;
	padding: 0 10px;
	margin:0;
}
.grade-3 .storeTitle h3 {
	color: #ea4335;
}
.grade-2 .storeTitle h3 {
	color: #4285f4;
}
.grade-1 .storeTitle h3 {
	color: #34a853;
}
.club .storeTitle h3 {
	color: #9a4bcc;
}
.storeContents {
	padding: 15px 20px 0 20px;
	overflow: hidden;
}
