#contents-title {
	background-color: #7ac143;
}
#contents-title h2 i {
	top: 6px;
	right: 4px;
}
#contents-title h2:after {
	width: 193px;
}
#main-contents {
	position: relative;
}
.note {
	font-size: 15px;
	margin: 30px 20px 30px 20px;
}
.work-section {
	width:98%;
	margin:0 1%;
}
.section-header {
	height: 55px;
	width: 100%;
	margin: 0 auto 10px auto;
	border-radius: 11px;
	background: #7ac143;
}
.work-section .section-header > .inner {
	margin: auto;
	position: relative;
}
.tabs-nav {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
ul.tabs-nav li {
	float: left;
	position: relative;
	width: 25%;
	height: 70px;
	transition: all 0.4s ease-out;
}
ul.tabs-nav li img {
	display: none;
	position: absolute;
	top: -6px;
	right: -6px;
	z-index: 10;
}
ul.tabs-nav li a {
	font-weight: bold;
	text-align: center;
	font-size: 25px;
	position: absolute;
	color: #fff;
	width: 100%;
	height: 35px;
	border-right: solid 1px #fff;
	box-sizing: border-box;
	margin: 11px 0;
	z-index: 100;
	transition: all 0.4s ease-out;
}
ul.tabs-nav li a > span {
	display: block;
	font-size: 20px;
	width: 56%;
	height: 80%;
	margin: 5px auto;
	border-radius: 5px;
	transition: all 0.4s ease-out;
}
ul.tabs-nav li a > span > span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 93%;
	margin: 0px auto;
	border-bottom: solid 3px #fff;
	transition: all 0.3s ease-out;
}
ul.tabs-nav li a.border > span > span {
	width: 60%;
	transition: width 0.3s ease-out;
}
ul.tabs-nav li a.paint > span > span {
	width: 0%;
	transition: width 0.3s ease-out;
}
.work-section .tabs-heighlight {
	background-color: rgb(51, 51, 51);
	height: 	100%;
	position: absolute;
	width: 120px;
}
.work-section .tabs-highlight:after {
	content: "";
	position: absolute;
	width: 37px;
	height: 19px;
	bottom: -19px;
	left: 50%;
	margin-left: -18px;
	z-index: 10;
}
.section-body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
  border: solid 6px #7ac143;
	display: block;
}
.section-body .tabs-panel {
	overflow-x: scroll;
	overflow-y: hidden;
}
.tabs-panel#f1 {
	height: 400px;
}
.tabs-panel#f2 {
	height: 400px;
}
.tabs-panel#f3 {
	height: 400px;
}
.tabs-panel#f4 {
	height: 400px;
}
section#f2 {
}
section#f3 {
}
section#f4 {
}
#image-wrapper {
	position: relative;
	width: 1000px;
	margin-top: 20px;
}
#image-wrapper img.map{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.popbtn {
	position: absolute;
	font-size: 20px;
	text-align: center;
	width: 73px;
	height: 40px;
	z-index: 998;
	line-height: 65px;
	text-align: center;
	color: #fff;
	float: left;
	margin: 0;
	cursor: pointer;
}
#exhi-a101 {
	top: 283px;
  left: 744px;
}
#exhi-a102 {
	top: 283px;
	left: 669px;
}
#exhi-a103 {
	top: 302px;
	left: 576px;
}
#exhi-a104 {
	top: 302px;
	left: 503px;
}
#exhi-a105 {
	top: 302px;
	left: 426px;
}
#exhi-a106 {
	top: 302px;
  left: 352px;
}
#exhi-a107 {
	top: 283px;
	left: 258px;
}
#exhi-a108 {
	top: 283px;
	left: 184px;
}
#exhi-pho {
	top: 196px;
  left: 229px;
  width: 51px;
  height: 32px;
}
#exhi-lit {
	top: 240px;
	left: 528px;
	width: 52px;
	height: 30px;
}
#exhi-ent {
	width: 243px;
	height: 53px;
	top: 157px;
	left: 388px;
}
#exhi-eco {
	top: 283px;
	left: 108px;
}
#exhi-kad {
	top: 283px;
  left: 34px;
}
#exhi-stage {
	top: 6px;
	left: 80px;
	width: 289px;
	height: 106px;
}
.f1-wc{
	position: absolute;
	width: 31px;
}
#f1-wc-1 {
	top: 213px;
	left: 181px;
}
#f1-wc-2 {
	top: 213px;
	left: 788px;
}
.f1-stair {
	position: absolute;
	width:36px;
}
.f1-stair.mirror {
	transform: matrix(-1, 0, 0, 1, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
#f1-stair-1 {
	top: 210px;
	left:  123px;
}
#f1-stair-2 {
	top: 252px;
	left: 351px;
}
#f1-stair-3 {
	top: 252px;
	left: 613px;
}
#f1-stair-4 {
	top: 210px;
	left: 846px;
}
#exhi-cal-f2 {
	top: 105px;
	left: 668px;
	width: 121px;
	height: 53px;
}
#exhi-art {
	width: 121px;
	height: 52px;
	top: 106px;
	left: 211px;
}
#exhi-tea {
	width: 74px;
	height: 40px;
	top: 270px;
	left: 425px;
}
#exhi-pub {
	width: 110px;
  height: 53px;
  top: 105px;
  left: 847px;
}
#exhi-reu {
	top: 106px;
	left: 34px;
	width: 119px;
	height: 50px;

}
#exhi-lib {
	top: 124px;
	left: 352px;
	width: 296px;
	height: 46px;
}
#exhi-toStage {
	top: 38px;
	left: 332px;
	width: 19px;
	height: 67px;
}
.f2-wc {
	position: absolute;
	width: 31px;
}
#f2-wc-1 {
	top: 179px;
	left: 181px;
}
#f2-wc-2 {
	top: 179px;
	left: 788px;
}
.f2-stair {
	position: absolute;
	width:36px;
}
.f2-stair.mirror {
	transform: matrix(-1, 0, 0, 1, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
#f2-stair-1 {
	top: 177px;
	left: 123px;
}
#f2-stair-2 {
	top: 220px;
	left: 352px;
}
#f2-stair-3 {
	top: 220px;
	left: 613px;
}
#f2-stair-4 {
	top: 177px;
	left: 847px;
}
#exhi-a301 {
	top: 217px;
	left: 749px;
}
#exhi-a302 {
	top: 217px;
	left: 674px;
}
#exhi-a303 {
	top: 235px;
	left: 580px;
}
#exhi-a304 {
	top: 235px;
	left: 506px;
}
#exhi-a305 {
	top: 235px;
	left: 431px;
}
#exhi-a306 {
	top: 235px;
	left: 357px;
}
#exhi-a307 {
	top: 217px;
	left: 263px;
}
#exhi-a308 {
	top: 217px;
	left: 187px;
}
#exhi-dpu {
	top: 90px;
	left: 394px;
	width: 145px;
	height: 40px;
}
#exhi-ess {
	top: 199px;
	left: 861px;
	width: 101px;
	height: 59px;
}
#exhi-pta-cul {
	top: 218px;
	left: 113px;
}
#exhi-pta-head {
	top: 218px;
	left: 39px;
}
.f3-wc {
	position: absolute;
	width: 32px;
}
#f3-wc-1 {
	top: 146px;
	left: 185px;
}
#f3-wc-2 {
	top: 146px;
	left: 792px;
}
.f3-stair {
	position: absolute;
	width:36px;
}
.f3-stair.mirror {
	transform: matrix(-1, 0, 0, 1, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
#f3-stair-1 {
	top: 144px;
	left: 127px;
}
#f3-stair-2 {
	top: 187px;
	left: 356px;
}
#f3-stair-3 {
	top: 187px;
	left: 618px;
}
#f3-stair-4 {
	top: 144px;
	left: 851px;
}
#exhi-a401 {
	top: 217px;
	left: 782px;
}
#exhi-a402 {
	top: 217px;
	left: 707px;
}
#exhi-a403 {
	top: 234px;
	left: 613px;
}
#exhi-a404 {
	top: 234px;
	left: 540px;
}
#exhi-a405 {
	top: 234px;
	left: 465px;
}
#exhi-a406 {
	top: 234px;
	left: 387px;
}
#exhi-a407 {
	top: 217px;
	left: 296px;
}
#exhi-a408 {
	top: 217px;
	left: 222px;
}
#exhi-soc {
	top: 217px;
	left: 147px;
}
#exhi-sci {
	top: 70px;
	left: 71px;
	width: 120px;
	height: 53px;
}
#exhi-cho {
	top: 90px;
	left: 511px;
	width: 137px;
	height: 40px;
}
.f4-wc {
	position: absolute;
	width: 30px;
}
#f4-wc-1 {
	top: 147px;
	left: 219px;
}
#f4-wc-2 {
	top: 147px;
	left: 826px;
}
.f4-stair {
	position: absolute;
	width: 36px;
}
.f4-stair.mirror {
	transform: matrix(-1, 0, 0, 1, 0, 0);
	-o-transform: matrix(-1, 0, 0, 1, 0, 0);
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
#f4-stair-1 {
	top: 144px;
	left: 160px;
}
#f4-stair-2 {
	top: 187px;
	left: 389px;
}
#f4-stair-3 {
	top: 187px;
	left: 650px;
}
#f4-stair-4 {
	top: 144px;
	left: 884px;
}
.category {
	display: block;
  margin: 40px auto 30px auto;
	width: 82%;
}
#category-stair:before,
#category-wc:before {
  content: '';
  display: inline-block;
	position: relative;
  left: 5px;
  top: 7px;
  width: 60px;
  height: 26px;
  margin-right: 10px;
  border-radius: 3px;
}
.category label {
	display: inline-block;
	position: relative;
	top: -10px;
	font-size: 13px;
	margin: 0 0 10px 6px;
}
#category-3,
#category-2,
#category-1,
#category-club,
#category-sponsor {
	color: #fff;
	padding: 3px 25px 3px 25px;
	border-radius: 5px;
}
#category-3 {
	background: #ea4335;
}
#category-2 {
	background: #4285f4;
}
#category-1 {
	background: #34a853;
}
#category-club {
	background: #9a4bcc;
}
#category-sponsor {
	background: #ffcd00;
}
#category-wc:before {
	width: 24px;
	background: url("../img/wc_24dpi.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
#category-stair:before {
	width: 26px;
	background: url("../img/map-stair.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
}
.remodal a {
	display: inline-block;
}
