@charset 'UTF-8';.slick-loading .slick-list{background:#fff url('../img/ajax-loader.gif') center center no-repeat;}
@font-face{font-family:'slick';font-weight:normal;font-style:normal;src:url('../fonts/slick.eot');src:url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');}
.slider .slick-prev,
.slider .slick-next{font-size:0;line-height:0;position:absolute;top:38%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent;}
.slider .slick-prev:hover,
.slider .slick-prev:focus,
.slider .slick-next:hover,
.slider .slick-next:focus{color:transparent;outline:none;background:transparent;}
.slider .slick-prev:hover:before,
.slider .slick-prev:focus:before,
.slider .slick-next:hover:before,
.slider .slick-next:focus:before{opacity:1;}
.slider .slick-prev.slick-disabled:before,
.slider .slick-next.slick-disabled:before{opacity:.25;}
.slider .slick-prev:before,
.slider .slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slider .slick-prev{left:20px;}
.slider [dir='rtl'] .slick-prev{right:-25px;left:auto;}
.slider .slick-prev:before{content:'←';}
.slider [dir='rtl'] .slick-prev:before{content:'→';}
.slider .slick-next{right:20px;}
.slider [dir='rtl'] .slick-next{right:auto;left:-25px;}
.slider .slick-next:before{content:'→';}
.slider [dir='rtl'] .slick-next:before{content:'←';}
.slick-dotted.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-24px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent;}
.slick-dots li button:hover,
.slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{font-family:'slick';font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{opacity:.75;color:black;}
.ticker-slider .slick-prev{left:-15px;z-index:100;}
.ticker-slider [dir='rtl'] .slick-prev{right:-25px;left:auto;}
.ticker-slider .slick-next{right:-7px;z-index:99;}
.ticker-slider [dir='rtl'] .slick-next{right:auto;left:-25px;}
.ticker-slider .slick-prev i,
.ticker-slider .slick-next i{color:#55acee;font-size:137px;}
.ticker-slider .slick-prev,
.ticker-slider .slick-next{font-size:0;line-height:0;position:absolute;top:83%;display:block;padding:0;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent;}
.ticker-slider .slick-prev:hover,
.ticker-slider .slick-prev:focus,
.ticker-slider .slick-next:hover,
.ticker-slider .slick-next:focus{color:transparent;outline:none;background:transparent;}
.ticker-slider .slick-prev:hover:before,
.ticker-slider .slick-prev:focus:before,
.ticker-slider .slick-next:hover:before,
.ticker-slider .slick-next:focus:before{opacity:1;}
.ticker-slider .slick-prev.slick-disabled:before,
.ticker-slider .slick-next.slick-disabled:before{opacity:.25;}
.ticker-slider .slick-prev:before,
.ticker-slider .slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.ticker-slider .slick-prev{left:70%;z-index:100;}
.ticker-slider [dir='rtl'] .slick-prev{right:-25px;left:auto;}
.ticker-slider .slick-next{right:0%;z-index:99;}
.ticker-slider [dir='rtl'] .slick-next{right:auto;left:-25px;}
.ticker-slider .slick-prev i,
.ticker-slider .slick-next i{color:#55acee;font-size:50px;}
.ticker-slider .slick-next i{margin-top:-2px;}
